.select-box {
    position: relative;
    width: 40rem;
    margin: 1px ;
}

.select-box input {
    /* width: 100%; */
    padding: 1rem .6rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    outline: none;
}

input[type="tel"] {
    border-radius: 0 .5rem .5rem 0;
}

.select-box input:focus {
    border: .1rem solid var(--primary);
}

.selected-option {
    background-color: #f5f4f4;
    border-radius: .5rem;
    border: 1px  solid #ccc;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.selected-option div{
    position: relative;
    width: 0.1rem;
    padding: 0 1.5rem 0 .1rem;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: .8rem;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);
    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top:10rem;
    width: 37.5rem;
    background-color: #e9e9e9;
    border-radius: .9rem;
    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 5rem;
    top: -4.0rem;
    display: none;
    width: 0;
    height: 0;
    border: 0.6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    color: #6e6e6e;
    border-radius: .5rem .5rem 0 0;
    padding: 1rem 0;
    margin: 0 3rem 0 0;
}

.select-box ol {
    list-style: none;
    max-height: 22rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 5rem;
    background-color: #818181;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #0a0a0a;
}

.select-box ol li:hover {
    background-color: rgb(138, 138, 138);
}

.select-box ol li .country-name {
    margin-left: .4rem;
}